# Terraform
TF_VAR_cloudflare_api_token=xxxxxx
TF_VAR_cloudflare_account_id=xxxxxx
TF_VAR_cloudflare_zone_id=xxxxxx

# cf-terraforming
CLOUDFLARE_API_TOKEN=xxxxxx
CLOUDFLARE_ACCOUNT_ID=xxxxxx
CLOUDFLARE_ZONE_ID=xxxxxx
